.homecss{
   
    background-color: red;
    align-items: center;
    
} 
.figure {
    display: flex;
    align-content: center;
    margin-left: 22%;
    margin-top: 3%;
}

.mda {
    width: 100%;
    height: auto;
}


.cards{
    display :flex;
    flex-direction: column;
    align-items: center;
}

h1, p {
    color:#fff;

}


.profils {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.profil img {
    border: 2px solid transparent;
}

.profil img, 
.profil p {
    transition: all .3s;
    width: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.content{
    position: relative;
    margin:auto;
    display:flex;
    flex-direction: column;
    z-index:2;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-top:4rem;
}


.profil:hover img{
    border: 2px solid white;
}

.profil:hover p{
   color: red;
   text-shadow: -.25px -.25px 0 red, 
                .25px .25px red;
}

.profil a {
    text-decoration: none;
}
